version: '3.1'

services:
  app:
    image: 'springboot_ping_app-image'
    build:
      context: .
    container_name: app
    depends_on:
      - postgres
      - flyway
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/ping_app_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin
    ports:
      - '8081:8081'

  flyway:
    image: 'flyway/flyway:latest'
    command: -url=jdbc:postgresql://postgres:5432/ping_app_db -schemas=public -user=postgres -password=admin migrate
    volumes:
      - './db/migration:/flyway/sql'
    depends_on:
      - postgres

  postgres:
    image: 'postgres:latest'
    restart: always
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=ping_app_db
    volumes:
      - './postgres-data:/var/lib/postgresql/data'

